<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>

  <body>
    <div class="wrapper">

      <header>
        <h2><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h2>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" class="site-logo" />
        {% endif %}
        <p>{{ site.description }}</p>

        <nav class="sidebar-nav">
          <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/research' | relative_url }}">Research</a></li>
            <li><a href="{{ '/opening' | relative_url }}">Opening</a></li>
            <li><a href="{{ '/misc' | relative_url }}">Misc</a></li>
          </ul>
        </nav>
      </header>

      <section>

      {{ content }}

      </section>
      <footer>
        <!-- {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        Hosted on GitHub Pages<br>  -->
        <p><small>Theme adapted from <a href="https://github.com/pages-themes/minimal">minimal</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
